---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Demo from "../components/demo.tsx";
---

<Layout title="Truchet Tile Generator | Monica.dev">
	<main>
		
		<h1><span class="text-gradient">Truchet Tile </span> Generator</h1>

		<!-- <p>
			Create your own Truchet tiles and experiment with different patterns and colors! This tool uses p5.js and React to generate the patterns.
			</p> -->
		<Demo client:only="react"/>
		
	
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/P5-wrapper/react"
				title="P5-wrapper/react GitHub"
				body="A wrapper component that allows you to utilise P5 sketches within React apps."
			/>
			
			<Card
				href="https://github.com/processing/p5.js"
				title="processing/p5.js GitHub" 
				body="p5.js is a client-side JS platform that empowers artists, designers, students, and anyone to learn to code and express themselves creatively on the web. It is based on the core principles of Processing."
			/>
			
			
		</ul>

		<p></p>
			 <p class="instructions">
			<a href="https://github.com/M0nica/p5-react-summit/tree/main" target="_blank" rel="noopener" class="link"> View on GitHub</a>
			
		</p> 
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
   
	
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
		
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		text-align: center;
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong, .instructions a {
		color: rgb(var(--accent-light));
		font-weight: bold;
	}

	.instructions a {
		font-size: 1.1em;
  		text-decoration: #9854ed wavy underline;
  		-webkit-text-decoration: #9854ed wavy underline;
	}
	.instructions a:hover, .instructions .a:focus, .instructions a:active{
		color: #9854ed;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
