:root {
  accent-color: #9854ed;
}

.radioOptionCss {
  text-transform: capitalize;
}

.sectionCss {
  font-size: 1.1em;
  text-decoration: #9854ed wavy underline;
  -webkit-text-decoration: #9854ed wavy underline;
}

label {
  font-family: 'Inter Variable', sans-serif;
  font-weight: 300;
}
.containerCss {
  display: flex;
  flex-direction: row-reverse;
  gap: 1em;
  justify-content: center;
  @media (max-width: 750px) {
    flex-direction: column;
  }
}

.controlPanelCss {
  min-width: 250px;
}

.rowCss {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
}

.buttonCss {
  background-color: #9854ed;
  border: none;
  color: #281732;
  padding: 15px 32px;
  text-align: center;
  text-decoration: 'none';
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.buttonCss:hover,
.buttonCss:active,
.buttonCss:focus {
  background-color: #7e3bdc;
  padding: 1.1em;
  margin-top: 0.9em;
  margin-bottom: 0.9em;
}

.canvasCss {
  & > div:first-child > canvas:first-child {
    border-radius: 10px;
  }
}

.inputCss {
  font-size: 1em;
  max-width: 170px;
}

.inputColorCss {
  width: 100px;
  margin-top: 1em;
}
