.containerCss {
  display: flex;
  flex-direction: row-reverse;
  gap: 1em;
  justify-content: center;
  @media (max-width: 750px) {
    flex-direction: column;
  }
}

.canvasCss {
  & > div:first-child > canvas:first-child {
    border-radius: 10px;
  }
}
